
.container {
  margin-top: 6%;
  margin-left: 6%;

  .fullInput {
    margin-left: 50px;
    max-width: 60%;
    display: flex;
    transform: skewX(-50deg);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 680px) {
      transform: inherit;
      max-width: 90%;
      margin-left: 10px;
    }

    .buttonContainer {
      display: flex;
      overflow: hidden;
      width: 35%;

      button {
        color: white;
        background: red;
        height: 50px;
        text-transform: uppercase;
        cursor: pointer;
        transform: skewX(50deg);
        margin: 0 -32px;
        border: none;
        flex: 1;
        font-size: 18px;

        @media (max-width: 680px) {
          transform: inherit;
          width: 40%;
        }
      }

      button:hover {
        background-color: white;
        color: red;
      }
    }
  }

  .inputContainer {
    display: flex;
    overflow: hidden;
    width: 65%;

    input {
      border: none;
      outline: none;
      padding: 4px 5px 4px 60px;
      background-color: rgba(0, 0, 0, .2);
      transform: skewX(50deg);
      margin: 0 -32px;
      overflow: hidden;
      flex: 1;
      font-size: 18px;

      @media (max-width: 680px) {
        transform: inherit;
        width: 60%;
      }
    }

    input:hover {
      background-color: #fafafa;
    }

    input:focus {
      background-color: #fafafa;
    }

    input::placeholder {
      color: #696969;;
    }
  }

  .error {
    color: red;
    margin-top: 5px;
    margin-left: 60px;
  }
}